.main {
    background: #FFFFFF;
    padding: 25px 5%;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.sharebtn {
    border: 1px solid #ACACAC;
    color: #ACACAC;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

.hubungi_btn {
    background: #FFFFFF;
    border: 1px solid #FF6202;
    color: #FF6202;
    border-radius: 5px;
    padding: 15px 30px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 15px;
}