.slide {
    width: 100%;
    height: 100%;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}

.popular_nav {
    width: 100%;
    height: 400px;
    background: #F13E3E;
    border-radius: 5px;
    padding: 20% 10%;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;

    svg {
        position: absolute;
        right: 30px;
        bottom: 30px;
    }
}

.prodcard {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 15px; 
    display: flex;
    flex-direction: column;
    width: calc(25% - 1rem);
    margin: 0.5rem;
    transition: all 0.3s;

    .prod_imgdiv {
        width: 100%;
        padding-top: 100%;
        position: relative;
        
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .prodtitle {
        font-weight: bold;
        font-size: 1.3rem;
        padding: 10px 0;
    }

    p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .keranjang {
        border: 1px solid #FF6202;
        background: #FFFFFF;
        color: #FF6202;
        border-radius: 20px;
        padding: 8px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .prodprice {
        color: #FF6202;
        font-weight: bold;
        font-size: 1.4rem;
    }
}

.prodcard:hover {
    box-shadow: 0px 25px 60px rgba(163, 163, 163, 0.25);
}

.catecard {
    border-radius: 9px;
    color: #FFFFFF;
    width: 100%;
    padding: 10px 25px;
    height: 70px;
    display: flex;
    line-height: 1.1;
    text-align: left;
    align-items: center;
    margin: 0 auto;
    border: none;

    .line {
        background: #FFFFFF;
        height: 2px;
        transition: all 0.3s;
        width: 0;
        margin-top: 3px;
    }
}

.catecard:hover {
    .line {
        width: 40%;
    }
}

.productwrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
}

@media (max-width: 991px) {
    .prodcard {
        width: calc(33% - 1rem);
    }
}

@media (max-width: 767px) {
    .prodcard {
        width: calc(50% - 1rem);

        .keranjang {
            padding: 8px;
        }
    }
}