.container {
    max-width: 1300px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.flexcontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding: 15px 25px;
    border-bottom: 1px solid #C9C9C9;
    background: white;

    svg {
        height: 1.3rem;
        width: 1.3rem;
    }

    .search {
        background: #FFFFFF;
        border: 1px solid #C9C9C9;
        border-radius: 22px;
        height: 35px;
        width: 300px;
        padding: 10px 15px;
    }

    .submit {
        position: absolute;
        right: 0;
        top: 0;
        margin: 5px;
        height: 25px;
        width: 25px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #FF8D00;
        color: white;

        svg {
            height: 45%;
        }
    }
}

.topnav {
    padding: 12px 25px;
    background: white;

    a {
        padding: 5px 20px;
        white-space: nowrap;
    }

    a:hover, .active {
        background: #F2F2F2;
        border-radius: 18.5px;
    }
}

.activeCart {
    background: #FF6202;
    border-radius: 20px;
    color: #FFFFFF;
    margin: -7px -10px;
    padding: 7px 10px;
}

.cartCount {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: #FFFFFF;
    color: #FF6202;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    font-size: 0.9rem;
    line-height: 1;
}

.backToHome {
    margin: 3rem 0 0;
}

.footer {
    background: #FFFFFF;
    padding: 20px 30px;

    .foot_btn {
        background: #FFFFFF;
        border: 1px solid #ACACAC;
        color: #ACACAC;
        border-radius: 5px;
        padding: 10px 15px;
        text-align: left;
        font-weight: 600;
        margin-bottom: 15px;
        width: 100%;
    }

    .foot_btn:hover {
        border: 1px solid #FF6202;
        color: #FF6202;
    }

    .foot_link_header {
        color: #ACACAC;
        font-weight: 700;
        padding-bottom: 10px;
        font-size: 1.1rem;
    }

    .foot_link {
        font-size: 0.8rem;
        padding: 2px 0;
    }

    .foot_link:hover {
        color: #FF6202;
    }

    .foot_login_btn {
        border: 1px solid #FF6202;
        color: #FF6202;
        border-radius: 20px;
        padding: 8px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.xpadding {
    padding: 0 2rem;
}

@media (max-width: 768px) {
    .xpadding {
        padding: 0 1rem 1.5rem;
        width: 100%;
    }
}