.site_header {
    font-size: 1.6rem;
    font-weight: 1000;
}

.breadcrumbs {
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 30px;
}

.h_xl {
    font-size: 1.8rem;
    line-height: 1.3;
    font-weight: 700;
    margin: 1rem 0;
}

.h_lg {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 700;
    margin: 1rem 0;
}

.h_md {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #ACACAC;
    font-weight: 700;
}

.hightext_xl {
    font-size: 1.7rem;
    font-weight: 600;
    color: #FF6202;
}

.hightext_lg {
    font-size: 1.3rem;
    font-weight: 600;
    color: #FF6202;
}

.hightext_md {
    font-size: 1.1rem;
    font-weight: 600;
    color: #FF6202;
}

.text_lg {
    font-size: 1.1rem;
    font-weight: 600;
}

.text_md {
    font-size: 0.9rem;
}