@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Arial, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.025rem;
  background: #FFFFFF;
  color: #2B2B2B;
}

button {
  letter-spacing: 0.025rem;
}

.main-container {
  background: #F2F2F2;
}

* {
  box-sizing: border-box;
}

.pointer-none {
  pointer-events: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
  //transform: scale(1.1);
}

a:active, button:active {
  opacity: 0.5;
  transition: all 0.2s;
}

input:focus, button:focus, textarea:focus, select:focus {
  outline: none;
}

input::placeholder {
  color: #D0D0D0;
}

p {
  color: #626262;
}

.border-b {
  border-bottom: 1px solid #B8B8B8;
}

.border-r-dot {
  border-right: 2px dashed #B8B8B8;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=checkbox]{
  width: 1.2rem; /*Desired width*/
  height: 1.2rem; /*Desired height*/
  border: 1px solid #CDCDCD !important;
  border-color: #CDCDCD !important;
  cursor: pointer;
  outline: none;
  flex: 0 0 20px;
}

table {
  margin-bottom: 0 !important;
}

.df-mn { display: flex !important; }
.db-mn { display: block !important; }
.dn-mf, .dn-mb { display: none !important; }
.prx-5 { padding-left: 3rem !important; padding-right: 3rem !important; }

@media (max-width: 767px) {
  .dn-mf { display: flex !important; }
  .dn-mb { display: block !important; }
  .df-mn, .db-mn { display: none !important; }
  .prx-5 { padding-left: 1.5rem !important; padding-right: 1.5rem !important; }
  html, body { line-height: 1.4; font-size: 12px; }
}

#popover-positioned-top {
  bottom: 10px !important;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 2px 15px rgba(124, 124, 124, 0.25);
  max-width: 150px;
  text-align: center;
  
  .arrow:before {
    border-color: transparent !important;
  }
}

.flagged {
  background: #FFF6F0;
}

// ---------------------------------------------- Scrollbar ---------------------------------------------------------
.h-scroll::-webkit-scrollbar { /* width */
  height: 5px;
}

.h-scroll::-webkit-scrollbar-track { /* Track */
  background: #FFFFFF;
}

.h-scroll::-webkit-scrollbar-thumb { /* Handle */
  background: rgb(219, 219, 219);
  border-radius: 8px;
}

.h-scroll::-webkit-scrollbar-thumb:hover { /* Handle on hover */
  background: rgb(199, 199, 199);
}

// ---------------------------------------------- SWIPER NAVIGATIONS -----------------------------------------------------

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2217%22%20height%3D%228%22%20viewBox%3D%220%200%2017%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M16.3536%204.35355C16.5488%204.15829%2016.5488%203.84171%2016.3536%203.64645L13.1716%200.464466C12.9763%200.269204%2012.6597%200.269204%2012.4645%200.464466C12.2692%200.659728%2012.2692%200.976311%2012.4645%201.17157L15.2929%204L12.4645%206.82843C12.2692%207.02369%2012.2692%207.34027%2012.4645%207.53553C12.6597%207.7308%2012.9763%207.7308%2013.1716%207.53553L16.3536%204.35355ZM0%204.5H16V3.5H0V4.5Z%22%20fill%3D%22%23404040%22%2F%3E%0A%3C%2Fsvg%3E") !important;
  right: 0 !important;
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2217%22%20height%3D%228%22%20viewBox%3D%220%200%2017%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M0.646446%204.35355C0.451185%204.15829%200.451185%203.84171%200.646446%203.64645L3.82843%200.464466C4.02369%200.269204%204.34027%200.269204%204.53553%200.464466C4.7308%200.659728%204.7308%200.976311%204.53553%201.17157L1.70711%204L4.53553%206.82843C4.7308%207.02369%204.7308%207.34027%204.53553%207.53553C4.34027%207.7308%204.02369%207.7308%203.82843%207.53553L0.646446%204.35355ZM17%204.5H1V3.5H17V4.5Z%22%20fill%3D%22%23404040%22%2F%3E%0A%3C%2Fsvg%3E") !important;
  left: 0 !important;
}

.swiper-button-next, .swiper-button-prev {
  color: #404040 !important;
  background: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  box-shadow: 0px 4px 4px rgba(114, 114, 114, 0.25);
  height: 35px !important;
  width: 35px !important;
  border: none;
  border-radius: 50%;
  top: 55% !important;
}

.swiper-button-next:focus, .swiper-button-prev:focus {
  outline: none;
}

.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}

.swiper-button-disabled {
  display: none !important;
}

.swiper-container {
  padding: 0 1rem !important;
  margin: 0 -1rem !important;
}

.tesrow {
  margin: 15px;

  .swiper-slide {
      width: auto !important;
  }
}

@media (max-width: 767px) {
  .tesrow, .main-banner, .cate-swiper {
    .swiper-button-next, .swiper-button-prev {
      display: none !important;
    }
  }
}

.main-banner  {
  width: 100%;
  padding-top: 35%; // 56.25% if want ratio 16 : 9
  position: relative;

  .swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.grey-bg {
  background: #fff2ea;
}

.field-datepicker {
  .react-datepicker-wrapper {
    width: 100%;
  }
}

// ---------------------------------------------- Product Description Tabs ----------------------------------------------
.prod-tabs {
  background: #FFFFFF;
  padding: 20px;
  width: 100%;

  .nav-tabs {
    border-bottom: 1px solid #B9B9B9;
    color: #9A9A9A;

    .nav-link {
      border: none;
      margin: 0;
      font-weight: 600;
      width: 33%;
      padding: 12px 0;
      max-width: 150px;
      text-align: center;
      border-bottom: 3px solid #FFFFFF;
    }

    .nav-link:hover { color: #FF6202; }

    .nav-link.active {
      border: none;
      border-bottom: 3px solid #FF6202;
      color: #FF6202;
    }
  }

  .tab-content {
    padding: 30px 20px;
  }
}

// ---------------------------------------------- Snackbar ------------------------------------------------------------
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 16px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  svg { font-size: 1.5rem; }
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

// --------------------------------- DatePicker ---------------------------------
.start-date, .end-date {
  border: none;
  background: none;
  cursor: pointer;
  color: #5F5F5F;
  font-weight: 600;
  width: 100px;
}

.calendar-icon {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E0E0E0;
}

.date-div {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 25px;
  margin: 0;
  cursor: pointer;
}

.date-div:hover {
  background: #F2F2F2;
}

.react-datepicker-popper {
  top: 5px !important;
  left: -85px !important;
}

@media (max-width: 767px) {
  .react-datepicker-popper {
    left: -60px !important;
  }
}

// ---------------------------------------------- Admin Reports Tabs ----------------------------------------------
.admin-reports-tabs {
  width: 100%;

  .nav-tabs {
    color: #969696;
    padding: 20px 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    border-bottom: 1px solid #C0C0C0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    .nav-link {
      margin: 0 10px 0 0;
      padding: 8px 20px;
      text-align: center;
      border-radius: 25px;
      border: 1px solid #969696;
      white-space: nowrap;
      font-weight: normal;
    }

    .nav-link:hover { 
      border: 1px solid #FF6202;
      color: #FF6202; 
    }

    .nav-link.active {
      background: #FF6202;
      border: 1px solid #FF6202;
      color: #FFFFFF;
    }
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .nav-tabs::-webkit-scrollbar {
    display: none;
  }

  .tab-content {
    padding: 20px 0;
  }
}

// ---------------------------------------------- Admin Generic Tabs ----------------------------------------------
.admin-generic-tabs {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  margin: 0 1.5rem;

  .nav-tabs {
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 10px 0;
    flex-wrap: nowrap;
    overflow: auto;

    .nav-link {
      border: none;
      font-weight: 600;
      margin: 0 15px;
      padding: 5px 0;
      text-align: center;
      border-bottom: 3px solid #FFFFFF;
      white-space: nowrap;
      border-radius: 0;
    }

    .nav-link:hover { 
      color: #FF6202; 
      border: none;
    }

    .nav-link.active {
      border: none;
      border-bottom: 3px solid #FF6202;
      color: #FF6202;
      background: #FFFFFF;
    }
  }

  .tab-content {
    padding: 0;
  }
}

.admin-generic-tabs.report-tabs {
  .nav-tabs {
    padding: 20px calc(3rem - 15px) 0;
    border-bottom: none;

    .nav-link {
      padding: 10px 0;
    }
  }
}

@media (max-width: 767px) {
  .admin-generic-tabs .nav-tabs .nav-link {
    font-size: 0.9rem;
  }
}

// -------------------------------- Table Accordian -------------------------------
.table-cell-collapse {
  .card {
    border: none;
  }

  .card-header, .card-body {
    padding: 0;
    background: none;
    cursor: pointer;
    border: none;
  }

  svg {
    color: #C4C4C4;
    margin-left: 20px;
  }
}

// -------------------------------- Table Dropdown -------------------------------

.table-responsive .dropdown-menu {
  position: fixed !important;
  z-index: 1;
}

.table-cell-dropdown, .dropdown-toggle:focus {
  .dropdown-toggle {
    background: none;
    color: #FF6202;
    font-size: 1.5rem;
    padding: 0;
    border: none;
    display: flex;
  }

  .dropdown-toggle::after {
    content: none;
  }

  .show .btn-primary.dropdown-toggle, .btn-primary.dropdown-toggle:active {
    background-color: #FFFFFF;
    color: #FF6202;
  }

  .show .btn-primary.dropdown-toggle:focus, .btn-primary.dropdown-toggle:focus, .btn-primary.dropdown-toggle:active {
    box-shadow: none !important;
    border-color: none !important;
  }

  .dropdown-menu {
    border: none;
    box-shadow: 0px 4px 10px 1px rgba(132, 132, 132, 0.25);
  }

  .dropdown-item {
    color: #787878;
  }

  .dropdown-item:hover {
    background: #FFE8DA;
    font-weight: bold;
    color: #FF6202;
  }
}

.table-cell-dropdown.nav-icon {
  .dropdown-toggle, .dropdown-toggle:focus {
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(167, 167, 167, 0.5) !important;
    width: 35px;
    height: 35px;
    color: #FF6202;
    border: none;
    background: none;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .show .btn-primary.dropdown-toggle:focus, .btn-primary.dropdown-toggle:focus, .btn-primary.dropdown-toggle:active {
    box-shadow: 0px 4px 10px rgba(167, 167, 167, 0.5) !important;
  }
}

// -------------------------------- Button Dropdown -------------------------------

.btn-dropdown, .dropdown-toggle:focus {
  .dropdown-toggle {
    background: #FF6202;
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 5px 20px rgba(167, 167, 167, 0.21);
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all 0.2s;
  }

  .dropdown-toggle::after {
    content: none;
  }

  .dropdown-header {
    font-weight: bold;
    color: #5B5B5B;
  }

  .show .btn-primary.dropdown-toggle, .btn-primary.dropdown-toggle:active {
    background: #FF6202;
    border: none;
    box-shadow: 0px 5px 20px rgba(167, 167, 167, 0.21);
    color: #FFFFFF;
  }

  .show .btn-primary.dropdown-toggle:focus, .btn-primary.dropdown-toggle:focus, .btn-primary.dropdown-toggle:active {
    box-shadow: none !important;
    border-color: none !important;
  }

  .dropdown-menu {
    border: none;
    box-shadow: 0px 4px 10px 1px rgba(132, 132, 132, 0.25);
    min-width: 250px;
  }

  .dropdown-item {
    color: #787878;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .dropdown-item:hover {
    background: #FFE8DA;
    font-weight: bold;
    color: #FF6202;
  }
}

// ---------------------------------- Modal ---------------------------------------------
.modal-content, .modal-header, .modal-footer {
  border: none;
  padding: 1rem;
}

.modal-backdrop.show {
  opacity: 0.9;
}

.modal-content.pnl-form-modal {
  padding: 0;

  .modal-header, .modal-body {
    padding: 0;
  }
}